<!-- *###### -->

<div [class.dark]="darkMode" class="dark:bg-[#15191d]">
  <router-outlet></router-outlet>
</div>

<div
  class="fixed top-[20px] right-[45%] md:right-[150px] lg:right-[30px] z-50"
  [class.dark]="darkMode"
>
  <button
    (click)="toggle()"
    class="bg-slate-900 px-3 py-2 rounded-full dark:bg-cyan-100"
  >
    <span *ngIf="darkMode" class="flex items-center">
      <span class="text-black hidden md:block mx-2"> Light </span>
      <i class="fa-solid fa-moon text-[20px]" style="color: #000000"></i>
    </span>
    <span *ngIf="!darkMode" class="flex items-center">
      <span class="text-white hidden md:block mx-2"> Dark </span>
      <i class="fa-solid fa-sun" style="color: #f9f9f9"></i>
    </span>
  </button>
</div>

<ngx-spinner type="ball-scale-multiple" bdColor="rgba(250, 250, 250, 1)">
  <img
    src="./assets/images/pngtree-palestinian-independence-png-image_6347901-removebg-preview.png"
    class=""
  />
  <p style="font-size: 20px; color: rgb(8, 7, 7)" class="fw-bold text-center">
    Loading...
  </p>
</ngx-spinner>
