<section class="lg:container mx-auto">
  <div
    class="flex flex-col lg:flex-row items-center justify-center lg:min-h-[90vh]"
  >
    <div class="p-5">
      <img src="./assets/images/cash.png" alt="online" />
    </div>
    <div class="shadow-lg shadow-slate-700 p-5 rounded-lg dark:shadow-none">
      <div class="text-center md:py-12">
        <h2
          class="font-extrabold text-slate-800 dark:text-slate-200 md:text-[30px]"
        >
          Information About Delivery
        </h2>
      </div>
      <form
        [formGroup]="checkOut"
        (ngSubmit)="handleForm()"
        class="dark:text-white font-bold text-slate-950"
      >
        <div class=" ">
          <label for="details">Notes To Deliver</label>
          <input
            type="text"
            id="details"
            class="input"
            formControlName="details"
          />
        </div>
        <div
          class="text-slate-500 dark:text-white text-[12px] text-center"
          *ngIf="
            (checkOut.get('details')?.touched ||
              checkOut.get('details')?.value != '') &&
            checkOut.get('details')?.errors
          "
        >
          <p class="">Details is required</p>
        </div>
        <div class="">
          <label for="phone">Number To Contact</label>
          <input type="tel" id="phone" class="input" formControlName="phone" />
        </div>
        <div
          class="text-slate-500 dark:text-white text-[12px] text-center"
          *ngIf="
            (checkOut.get('phone')?.touched ||
              checkOut.get('phone')?.value != '') &&
            checkOut.get('phone')?.errors
          "
        >
          <p class="" *ngIf="checkOut.get('phone')?.getError('required')">
            Phone is required
          </p>
          <p class="" *ngIf="checkOut.get('phone')?.getError('pattern')">
            Invalid Number
          </p>
        </div>

        <div class="">
          <label for="city">Address To Deliver</label>
          <input type="text" id="city" class="input" formControlName="city" />
        </div>
        <div
          class="text-slate-500 dark:text-white text-[12px] text-center"
          *ngIf="
            (checkOut.get('city')?.touched ||
              checkOut.get('city')?.value != '') &&
            checkOut.get('city')?.errors
          "
        >
          <p class="">City is required</p>
        </div>
        <div class="text-center pt-5">
          <button class="btn-set" [disabled]="checkOut.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
